* {
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #777;
}

header {
  text-align: center
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
  padding: 2%;
  margin: 2%;
}

nav {
  padding: 20px;
  margin-bottom: 10px;
  color: #333;
  background: #ccc;
  padding: 2%;
   margin: 2%;

}

section {
	display: inline-block;
	position: relative;
	padding: 2%;
  margin: 2%;
	float: left;
	background-color: #ccc;
	width: 56%;
	height: 300px;
}

aside {
	display: inline-block;
	padding: 2%;
	float: left;
	margin: 2%;
	background-color: #ccc;
	width: 36%;
	height: 300px;
}

footer
{
  text-align: center
  padding: 20px;
  margin-bottom: 20px;
  clear: both;
  color: #333;
  background: #ccc;
  padding: 2%;
  margin: 2%;
}

div
{
	display: inline-block;
	position: absolute;
  padding: 20px;
  clear: left;
  margin-bottom: 20px;
  bottom: 0;
  left: 0;
  margin-left: 10px;
	background-color: #abc;
	width: 95%;
	height: 200px;
}

h1
{
background-color: #aaa;

}




