header h1{

background-color: teal;
font-size: 20px;
color: white;
display: inline-block;

}

header nav{
	display: inline-block;

}

.content-wrap {

width: 960px;
margin: 0 auto 0 auto;
background: gray;
border: 2px solid red;
border-top: none;
border-bottom: none;
}